.interna_produtos {
  background: url("../img/bg-produto.jpg") no-repeat center;
  background-size: cover;
}

.produto_item {
  padding-top: 60px;
}

.produto_item h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  position: relative;
  top: -170px;
  text-align: center;
  color: white;
  margin-bottom: -30px;
}

.produto_item h2:after,
.produto_item h2:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: white;
  margin: 10px auto 8px auto;
}

.produto_icone {
  background: black;
  padding: 85px 0;
}

.produto_icone img {
  margin: 0 auto;
}

/******** ORÇAMENTO *********/

.orcamento {
  background: black;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
}

.orcamento h2 {
  color: white;
}

.orcamento h2:after {
  background-color: white;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.form input {
  display: block;
  width: 100%;
  border: 4px solid #0f4a7d;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #0f4a7d;
  background: none;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form button {
  background: none;
  padding: 7px 40px;
}

.orcamento_dados {
  color: white;
}

.orcamento_dados h3 {
  color: #0f4a7d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 25px;
}

.orcamento_dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}

.dados_email {
  margin-bottom: 40px;
}

.coach {
  color: white;
}

.coach h3 {
  color: #0f4a7d;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 25px;
}

.coach p {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

.coach cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  right: -50px;
}
